@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./images/bg-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(257, 40%, 49%);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
}

p {
  font-size: 0.8em;
  opacity: 0.7;
}

.container {
  margin: auto;
  max-width: 100%;
  width: 1200px;
}

.flex {
  display: flex;
  margin-top: 60px;
}

.flex > div:first-child {
  margin-right: 20px;
  flex: 0.6;
}

.flex > div:last-child {
  margin-left: 20px;
  margin-top: 40px;
  flex: 0.4;
}

button {
  margin-top: 20px;
  background-color: #fff;
  color: hsl(257, 40%, 49%);
  border: none;
  border-radius: 50px;
  padding: 20px 80px;
  font-size: 24px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.social-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.social-links a {
  border-radius: 50%;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  body {
    background-image: url('./images/bg-mobile.svg');
  }

  h1 {
    font-size: 1.1em;
  }

  p {
    font-size: 0.7em;
    margin-top: 20px;
  }

  .flex {
    flex-direction: column;
    margin: 60px;
  }

  .flex > div:first-child {
    margin-right: 0;
    flex: 1;
  }

  .flex > div:last-child {
    margin-left: 0;
    margin-top: 40px;
    flex: 1;
    text-align: center;
  }

  button {
    font-size: 18px;
    padding: 10px 80px;
  }

  .social-links {
    justify-content: center;
  }
}
